*.dcu
*.~*
*.identcache
*.local
*.exe
*.stat
*.ocx
activex/bin32/reportman.drc
activex/bin32/reportman3_2.zip
repman/bin32/repmandxp.drc
repman/utils/rptranslator/bin32/rptranslate.drc
__recovery/
webactivex/bin32/WebReportManX.drc
