*.dcu
*.~*
*.identcache
*.local
*.exe
*.stat
*.ocx
activex/bin32/reportman.drc
activex/bin32/reportman3_2.zip
repman/bin32/repmandxp.drc
repman/utils/rptranslator/bin32/rptranslate.drc
__recovery/
webactivex/bin32/WebReportManX.drc
repman/repmandxp.res
repman/bin32/dbxconnections.ini
repman/bin32/repmandxp_3_4_2.zip
repman/repmandxe2.rsm
repman/repmandxp.rsm
repman/bin64/repmandxp.drc
repman/bin64/repmandxp.rsm
activex/reportman.rsm
repman/utils/printreptopdf/printreptopdf.rsm
*.o
*.rsm
repman/utils/compilerep/compilerep.res
repman/utils/metaprint/metaprintxp.res
repman/utils/printrep/printrepxp.res
*.drc
repman/utils/txttorep/txttorep.res
repman/utils/reptotxt/reptotxt.res
repman/utils/printreptopdf/printreptopdf
server/web/repwebserver.dll
server/app/reportserverappxp.res
server/config/repserverconfigxp.res
server/web/repwebexe.res
server/web/repwebserver.res
repman/utils/printreptopdf/printreptopdf.res
repman/utils/rptranslator/rptranslate.res
server/web/bin64/repwebserver.dll
activex/reportman.res
repman/bin64/net2/DocumentFormat.OpenXml.dll
repman/bin64/net2/DocumentFormat.OpenXml.xml
repman/bin64/net2/System.Data.SQLite.xml
repman/bin64/net2/x64/SQLite.Interop.dll
repman/bin64/net2/x86/SQLite.Interop.dll
repman/bin32/net2/zxing.presentation.pdb
repman/bin32/net2/zxing.presentation.xml
repman/bin32/net2/zxing.xml
repman/bin64/net2/FirebirdSql.Data.FirebirdClient.dll
repman/bin64/net2/FirebirdSql.Data.FirebirdClient.pdb
repman/bin64/net2/printreport.exe.config
repman/bin64/net2/printreport.pdb
repman/bin64/net2/Reportman.Designer.dll
repman/bin64/net2/Reportman.Designer.pdb
repman/bin64/net2/Reportman.Drawing.dll
repman/bin64/net2/Reportman.Drawing.Forms.dll
repman/bin64/net2/Reportman.Drawing.Forms.pdb
repman/bin64/net2/Reportman.Drawing.pdb
repman/bin64/net2/Reportman.Reporting.dll
repman/bin64/net2/Reportman.Reporting.Forms.dll
repman/bin64/net2/Reportman.Reporting.Forms.pdb
repman/bin64/net2/Reportman.Reporting.pdb
repman/bin64/net2/System.Data.SQLite.dll
repman/bin64/net2/toolstrip.dll
repman/bin64/net2/toolstrip.pdb
repman/bin32/net2/toolstrip.dll
repman/bin32/net2/toolstrip.pdb
repman/bin32/net2/zxing.dll
repman/bin32/net2/zxing.pdb
repman/bin32/net2/zxing.presentation.dll
repman/bin32/net2/Reportman.Reporting.Forms.dll
repman/bin32/net2/Reportman.Reporting.Forms.dll.config
repman/bin32/net2/Reportman.Reporting.Forms.pdb
repman/bin32/net2/Reportman.Reporting.pdb
repman/bin32/net2/System.Data.SQLite.dll
repman/bin32/net2/Reportman.Drawing.Forms.dll.config
repman/bin32/net2/Reportman.Drawing.Forms.pdb
repman/bin32/net2/Reportman.Drawing.pdb
repman/bin32/net2/Reportman.Reporting.dll
repman/bin32/net2/Reportman.Reporting.dll.config
repman/bin32/net2/Reportman.Designer.dll.config
repman/bin32/net2/Reportman.Designer.pdb
repman/bin32/net2/Reportman.Drawing.dll
repman/bin32/net2/Reportman.Drawing.dll.config
repman/bin32/net2/Reportman.Drawing.Forms.dll
repman/bin32/net2/ClosedXML.dll
repman/bin32/net2/ClosedXML.pdb
repman/bin32/net2/ClosedXML.xml
repman/bin32/net2/designer.exe.config
repman/bin32/net2/designer.pdb
repman/bin32/net2/DocumentFormat.OpenXml.dll
repman/bin32/net2/DocumentFormat.OpenXml.xml
repman/bin32/net2/ExcelNumberFormat.dll
repman/bin32/net2/ExcelNumberFormat.xml
repman/bin32/net2/FastMember.dll
repman/bin32/net2/FirebirdSql.Data.FirebirdClient.dll
repman/bin32/net2/FirebirdSql.Data.FirebirdClient.pdb
repman/bin32/net2/ICSharpCode.SharpZipLib.dll
repman/bin32/net2/ICSharpCode.SharpZipLib.pdb
repman/bin32/net2/ICSharpCode.SharpZipLib.xml
repman/bin32/net2/MySql.Data.dll
repman/bin32/net2/printreport.exe.config
repman/bin32/net2/printreport.pdb
repman/bin32/net2/Reportman.Designer.dll
server/service/repserviceinstall.res
server/service/repserverservice.res
packages/11.0/reportman_designvcl.res
packages/11.0/reportman_rtl.res
packages/11.0/reportman_vcl.res
