*.dcu
*.~*
*.identcache
*.local
*.exe
*.stat
*.ocx
activex/bin32/reportman.drc
activex/bin32/reportman3_2.zip
repman/bin32/repmandxp.drc
repman/utils/rptranslator/bin32/rptranslate.drc
__recovery/
webactivex/bin32/WebReportManX.drc
repman/repmandxp.res
repman/bin32/dbxconnections.ini
repman/bin32/repmandxp_3_4_2.zip
repman/repmandxe2.rsm
repman/repmandxp.rsm
repman/bin64/repmandxp.drc
repman/bin64/repmandxp.rsm
activex/reportman.rsm
repman/utils/printreptopdf/printreptopdf.rsm
*.o
*.rsm
repman/utils/compilerep/compilerep.res
repman/utils/metaprint/metaprintxp.res
repman/utils/printrep/printrepxp.res
*.drc
repman/utils/txttorep/txttorep.res
repman/utils/reptotxt/reptotxt.res
repman/utils/printreptopdf/printreptopdf
server/web/repwebserver.dll
server/app/reportserverappxp.res
server/config/repserverconfigxp.res
server/web/repwebexe.res
server/web/repwebserver.res
repman/utils/printreptopdf/printreptopdf.res
repman/utils/rptranslator/rptranslate.res
server/web/bin64/repwebserver.dll
activex/reportman.res
repman/bin64/net2/DocumentFormat.OpenXml.dll
repman/bin64/net2/DocumentFormat.OpenXml.xml
repman/bin64/net2/System.Data.SQLite.xml
repman/bin64/net2/x64/SQLite.Interop.dll
repman/bin64/net2/x86/SQLite.Interop.dll
