reportmanres_CAT RCDATA .\repman\reportmanres.CAT
reportmanres_CSY RCDATA .\repman\reportmanres.CSY
reportmanres_EN RCDATA .\repman\reportmanres.EN
reportmanres_ES RCDATA .\repman\reportmanres.ES
reportmanres_FR RCDATA .\repman\reportmanres.FR
reportmanres_IT RCDATA .\repman\reportmanres.IT
reportmanres_PT RCDATA .\repman\reportmanres.PT
reportmanres_LT RCDATA .\repman\reportmanres.LT